SERVER_PORT=8080
APP_ENV=development

JWT_SECRET=isi-random-string-panjang-minimal-32-karakter
JWT_EXPIRY_HOURS=24
INACTIVITY_LOGOUT_DAYS=30

DATABASE_URL=postgresql://postgres:[PASSWORD]@db.[PROJECT-REF].supabase.co:5432/postgres

FIREBASE_CREDENTIALS_PATH=./firebase-service-account.json
FIREBASE_PROJECT_ID=nama-project-firebase

QRIS_STATIC=paste-qris-string-statis-dari-bank

NGROK_AUTHTOKEN=paste-ngrok-token